Package: me.shadowfall.dickbutt
Name: DickButt Zeppelin Logo
Version: 1.0
Architecture: iphoneos-arm
Description: DickButt Zeppelin Logo for All!!
Homepage: http://squash-.github.com
Maintainer: John Cintron <squash@shadowfall.me>
Author: John Cintron <squash@shadowfall.me>
Section: Zeppelin Logos
