Package: me.shadowfall.smashbros
Name: SmashBros Zeppelin Logo
Version: 1.0
Architecture: iphoneos-arm
Description: SmashBros Zeppelin Logo
#Icon:
Homepage: http://squash-.github.io
#Depiction:
Maintainer: John Cintron <squash@shadowfall.me>
Author: John Cintron <squash@shadowfall.me>
Section: Zeppelin Logos
Depends: com.alexzielenski.zeppelin
#Replaces:
#Conflict:

